<!DOCTYPE html>
<html>
  <head>
    <title>Email Detail</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        display: flex;
      }

      .sidebar {
        width: 200px;
        background-color: #f2f2f2;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      .sidebar ul li {
        margin-bottom: 10px;
      }

      .sidebar ul li a {
        display: flex;
        align-items: center;
        padding: 8px;
        text-decoration: none;
        color: #333;
        border-radius: 3px;
        transition: background-color 0.3s;
      }

      .sidebar ul li a:hover {
        background-color: #e2e2e2;
      }

      h1 {
        margin-top: 0;
      }

      .email {
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 20px;
      }

      .attachment {
        margin-top: 10px;
      }

      .attachment a {
        color: #007bff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <ul>
        <li>
          <a href="/compose">Compose</a>
        </li>
        <li>
          <a href="/inbox">Inbox</a>
        </li>
        <li>
          <a href="/outbox">Outbox</a>
        </li>
      </ul>
    </div>
    <div class="email">
      <h1>FROM: <%= email.sender_email %></h1>
      <h1>TO: <%= email.receiver_email %></h1>
      <p>TIME: <%= email.send_at %></p>

      <h2><%= email.subject %></h2>

      <p><%= email.body %></p>
      <!-- <div class="attachment">
        <a href="path/to/attached/file">Download Attached File</a>
      </div> -->
    </div>
  </body>
</html>
